<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        margin: 0px;
        padding: 0px;
    }
    
    .image {
        display: block;
        margin: auto;
        max-width: 70%;
        height: auto;
        width: auto/9;
        padding: 20px;
        border-radius: 70px;
    }
    
    .main {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        word-wrap: break-word;
        width: 100%;
        justify-content: space-evenly !important;
        align-items: center;
    }
    
    .space {
        display: block;
        width: 100px !important;
        height: 100px !important;
    }
    
    .content {
        display: flex;
        padding: 20px;
        width: 100%;
        flex-flow: wrap;
        justify-content: center;
        word-wrap: break-word;
        flex-wrap: wrap;
    }
    
    @media only screen and (max-width:600px) {
        .ele {
            margin: auto;
            width: 300px !important;
        }
        .space {
            display: block;
            width: 10px !important;
            height: 100px !important;
        }
    }
    
    @media only screen and (max-width:1050px) {
        .main {
            width: fit-content;
        }
        .content {
            width: fit-content;
        }
        .ele {
            max-width: 400px !important;
            margin: auto !important;
        }
        .space {
            display: block;
            width: 50px !important;
            height: 100px !important;
        }
    }
</style>
<div id="title"></div>
<div class="main">

    <div class="space"></div>
    <div class="content"></div>
    <div class="space"></div>

</div>

<body>
    <script>
        var data = localStorage.getItem("article_data")
        var title = localStorage.getItem("title")
        document.getElementById("title").innerText = title
        var ele = document.createElement("div")
        ele.style.display = "flex"
        ele.style.width = "900px"
        ele.style.flexFlow = "wrap"
        ele.innerHTML = data
        ele.className = "ele"
        ele.style.wordWrap = "word-break"
        ele.style.display = "block"
        ele.style.overflowWrap = "word-break"
        document.querySelector(".content").appendChild(ele)
    </script>
</body>


</html>